@goovee:registry=https://git.axelor.com/api/v4/projects/1708/packages/npm/
@axelor-ent:registry=https://repository.axelor.com/nexus/repository/npm-enterprise/
//repository.axelor.com/nexus/repository/npm-enterprise/:_auth=${NEXUS_TOKEN}