.table-row {
  cursor: pointer;
}

.table-cell {
  padding: 16px 24px !important;
}

.product-image {
  width: 24px !important;
  height: 24px !important;
}

.card-wrapper {
  border-color: #e6e7e7 !important;
  cursor: pointer;
}
