.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.no-scrollbar::-webkit-scrollbar-track {
  display: none;
}
