.wrapper,
.icons {
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
  & > input {
    background-image: none !important;
  }
}

.icons {
  position: absolute;
  padding: 0.5rem;
  & > svg {
    cursor: pointer;
    margin: 0 0.25rem;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.disabled svg {
  cursor: auto;
  opacity: 0.5 !important;
}

:not(.rtl) > .wrapper > .icons {
  left: 0;
}

.rtl > .wrapper > .icons {
  right: 0;
}

.sortby {
  [role="combobox"] {
    width: 100%;
  }
}
