@font-face {
  font-family: 'Unicons';
  src:
    url('/fonts/unicons/Unicons.woff2') format('woff2'),
    url('/fonts/unicons/Unicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Custom';
  src:
    url('/fonts/custom/Custom.woff2') format('woff2'),
    url('/fonts/custom/Custom.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^='uil-'],
[class*=' uil-'],
[class^='icn-'],
[class*=' icn-'] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: normal;
}

[class^='uil-'],
[class*=' uil-'] {
  font-family: 'Unicons' !important;
}

[class^='icn-'],
[class*=' icn-'] {
  font-family: 'Custom' !important;
}
