@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --body-light: 210 17% 98%;
    --main-purple: 269 97% 35%;
    --detail-blue: 244 10% 30%;
    --link-blue: 220 63% 47%;
    --success-light: 136 47% 87%;
    --success-dark: 142 48% 53%;
    --error-light: 2 87% 88%;
    --error-dark: 3 86% 61%;
    --warning-light: 37 100% 87%;
    --warning-dark: 36 100% 54%;
    --primary-light: 261 100% 97%;
    --primary-dark: 269 97% 35%;
    --secondary-light: 216 100% 91%;
    --secondary-dark: 220 63% 47%;
    --default-light: 210 11% 71%;
    --default-dark: 210 9% 31%;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.92%;

    --primary: 180 3% 13%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 180 3% 13%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 96%;
    --accent-foreground: 180 3% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --content-primary: 218 22% 21%;
    --content-foreground: 0 0% 100%;
    --input: 180 2% 90%;
    --ring: 0 0% 3.9%;
    --border: 180 2% 90%;
    --width: 0.0625rem;
    --radius: 0.25rem;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 180 3% 13%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 83%;
  }
}
body {
  font-family: 'Poppins', sans-serif !important;
  background: hsl(var(--body-light)) !important;
}
.container {
  max-width: 71.25rem;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.subcategory .first-item:first-child .first-border {
  border-left: 0rem;
}
a {
  text-decoration: inherit !important;
}
