//----------------------------------------------------------//
//	BLOG
//----------------------------------------------------------//
.classic-view .post {
  margin-bottom: 2.5rem;
}
.classic-view .post-header {
  margin-bottom: 1.125rem;
}
.blog.single .post {
  margin-bottom: 0;
}
.post-content {
  position: relative;
}
@media (min-width: 768px) {
  .classic-view article .card-body {
    padding: 2.5rem 3.125rem 1.5625rem;
  }
  .classic-view article .card-footer {
    padding: 1.5625rem 3.125rem 1.5625rem;
  }
  .blog.single .card-body {
    padding: 3.5rem 3.75rem 3.5rem;
  }
  .grid-view article .card-body {
    padding: 2.1875rem 2.1875rem 1.25rem 2.1875rem;
  }
  .grid-view article .card-footer {
    padding: 1.5625rem 2.1875rem 1.5625rem;
  }
}
@media (max-width: 767px) {
  .classic-view article .card-body,
  .grid-view article .card-body {
    padding-bottom: 1.25rem;
  }
}
//----------------------------------------------------------//
//	WIDGETS
//----------------------------------------------------------//
aside:not(.doc-sidebar) .widget + .widget {
  margin-top: 2.5rem;
}
footer [class*='col-'] .widget + .widget {
  margin-top: 1.25rem;
}
//----------------------------------------------------------//
//	SIDEBAR
//----------------------------------------------------------//
.sticky-sidebar {
  position: sticky;
  top: 0;
  height: 100%;
}
.sidebar nav .nav-link {
  font-weight: $font-weight-base;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  &.active {
    color: $main-color !important;
  }
}
//----------------------------------------------------------//
//	COMMENTS
//----------------------------------------------------------//
#comments {
  margin: 0;
  position: relative;
  ol.commentlist {
    list-style: none;
    margin: 0;
    padding: 0;
    li.comment {
      margin-top: 2.5rem;
      &:first-child {
        margin: 0;
      }
    }
  }
  ul.children {
    margin: 2.5rem 0 0 0;
    overflow: inherit;
    padding: 0 0 0 4.375rem;
    list-style: none;
    li.comment {
      position: relative;
      &:before {
        display: block;
        font-family: $font-family-custom-icons;
        content: $icon-line;
        @include font-size(2.5rem);
        position: absolute;
        left: -3.125rem;
        top: -1.5625rem;
        color: rgba($border-light, 0.25);
      }
    }
  }
  .comment-author,
  .post-meta {
    margin: 0;
  }
  .comment-author {
    margin-bottom: 0.25rem;
  }
}
.author-info h6 {
  margin-bottom: 0.25rem;
}
#comments {
  .comment-header {
    margin-bottom: 0.625rem;
  }
  .post-meta li:before {
    margin: 0 0.75rem 0 0.5rem;
  }
}
.user-avatar {
  margin-right: 1.25rem;
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
  border-radius: 100%;
}
@media (max-width: 767px) {
  #comments {
    .user-avatar {
      display: none;
    }
    ul.children {
      padding-left: 1.875rem;
      li.comment:before {
        display: none;
      }
    }
  }
}
