.tabs {
  border-bottom: 0.0625rem solid hsl(var(--detail-blue));
  --ax-nav-tabs-tab-text-transform: capitalize;
  --ax-nav-tabs-indicator-color: transparent;
  --ax-nav-tabs-tab-active-bg: hsl(var(--forground));
  --ax-nav-tabs-tab-active-color: hsl(var(--background));
}
