.tabs {
  border-bottom: 0.0625rem solid #464555;
  --ax-nav-tabs-tab-text-transform: capitalize;
  --ax-nav-tabs-indicator-color: transparent;
  --ax-nav-tabs-tab-active-bg: black;
  --ax-nav-tabs-tab-active-color: white;
}
