.table-row {
  cursor: pointer;
}

.table-cell {
  vertical-align: middle !important;
}

.comment-date {
  font-size: 0.75rem;
}

.comment-paragraph {
  font-size: 0.875rem;
}
.comment-input {
  font-size: 0.875rem;
  --ax-input-placeholder-color: hsl(var(--input));
}

.history-date {
  color: hsl(var(--detail-blue));
}

.product-image {
  width: 1.5rem !important;
  height: 1.5rem !important;
  overflow: hidden;
}

.success {
  color: hsl(var(--background));
  background-color: hsl(var(--success-dark));
}

.danger {
  color: hsl(var(--background));
  background-color: hsl(var(--error-dark));
}

.comment-user-image {
  height: 2rem !important;
  width: 2rem !important;
}

.card-wrapper {
  cursor: pointer;
}
