.table-row {
  cursor: pointer;
}

.table-cell {
  vertical-align: middle !important;
}

.comment-date {
  font-size: 0.75rem;
}

.comment-paragraph {
  font-size: 0.875rem;
}
.comment-input {
  font-size: 0.875rem;
  --ax-input-placeholder-color: #cfd2d1;
}

.history-date {
  color: #464555;
}

.product-image {
  width: 1.5rem !important;
  height: 1.5rem !important;
  overflow: hidden;
}

.success {
  color: white;
  background-color: #4fc179;
}

.danger {
  color: white;
  background-color: #f14e46;
}

.comment-user-image {
  height: 2rem !important;
  width: 2rem !important;
}

.card-wrapper {
  cursor: pointer;
}
