//----------------------------------------------------------//
//	TOOLTIP
//----------------------------------------------------------//
.tooltip {
  font-weight: $font-weight-base;
  pointer-events: none;
}
.has-tooltip:focus {
  outline: 0;
}
.white-tooltip {
  margin-right: 0.3125rem !important;
  &.bs-tooltip-start {
    .tooltip-arrow {
      &::before {
        border-left-color: $white;
      }
    }
  }
  .tooltip-inner {
    background: $white;
    color: $main-dark;
    @include font-size($tooltip-font-size - 0.125rem);
    padding-top: $tooltip-padding-y - 0.1875rem;
    padding-bottom: $tooltip-padding-y - 0.1875rem;
    padding-left: $tooltip-padding-x - 0.3125rem;
    padding-right: $tooltip-padding-x - 0.3125rem;
  }
}
